.App {
  color: #b1b1aa;
  padding: 1rem 2rem 1rem;
}

.row-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  border-style: solid;
  border-color: #757370;
}

.row-container div {
  flex-basis: 10rem;
  text-align: center;
}

.filter-row-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 2rem;
  align-items: center;
}

.item-name {
  color: whitesmoke;
  font-weight: bold;
}

.font-size-date {
  font-size: 2.5rem;
}